@charset "utf-8";
*{margin: 0; padding: 0; box-sizing: border-box;}
a{color: inherit; text-decoration: none;}
ol,ul,li{list-style: none;} img{border: none;}
em, address{font-style: normal;}
form, input, select, textarea, button{
color: inherit; font-family: inherit;
font-weight: inherit; letter-spacing: inherit;}
/*서체 상속, form 이하는 body에서 설정한 것을 그대로 상속받지만
button은 받지 않기 때문에 나중에 또 따로 설정*/
button{background-color: transparent; cursor: pointer;}
fieldset{border: none;} legend{display: none;}
table caption{display: none;}
h1 ,h2 ,h3 ,h4 ,h5 ,h6 {font-weight: 100;}

body{color: #333;background-color: #fff;}