@media screen and (max-width:900px){

    nav{height: 40px;}
    h1{font-size: 23px;}
    h1 img{height: 23px;}
    nav .nav_l{display: none;}
    nav .nav_r{display: none;}
    nav .media_nav_l{display: flex;}
    nav .nav_l{left: 18px;}

    /*슬라이드 배너*/
    .slide_ban {height: 180px;}
    .slide_ban a{width: 180px;height: 180px;}
    .slide_ban img{height: 180px;}
    .slide_ban p{font-size: 12px;}
    .hot{top: 33px;border-radius: 1px;font-size: 8px;}

    /*탭메뉴*/
    .tab{width: 400px; height:100%; margin: 20px auto;}
    .tabmenu{font-size: 12px;}
    .tabcon{top: 40px;padding-left: 40px;}
    .tabcon p{font-size: 10px; padding-right: 38px; padding-bottom: 15px;}
    .tabcon li{width: 150px;height: 150px;}
    .tabcon img{height: 150px;}
    footer{display: none;}
}
