@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Orbit-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/Orbit-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 100%;
    max-width: 1440px;
    min-width: 1440px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

/* content */

.company{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.scroll{
    width: 750px;
    height: 350px;
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    position: relative;
    background-image: url(../img/company/scroll.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.scroll_txt_box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    position: absolute;
    top: 110px;
}

.scroll_txt{
    font-family: 'DungGeunMo';
    color:  #121212;
}
.scroll_txt2{
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'Orbit-Regular';
    letter-spacing: -1px;
    color:  #424242;
}

/* content2 */

.member{
    width: 750px;
    height: 200px;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 25%;
    gap: 3rem;

    margin-bottom: 110px;
}

.member_details{
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.member_img{
    width: 100px;
    height: 100px;
    border: 2px solid #121212;
    border-radius: 100px;
    overflow: hidden;
}

.member_txt_box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.part{
    font-family: 'Orbit-Regular';
    letter-spacing: -1px;
    font-size: 0.9rem;
    color:  #121212;
}
