@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Orbit-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/Orbit-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}


body{
    width: 100%;
    height: 100%;
    /* background-color: #121212; */
    background: rgb(26,26,26);
    background: linear-gradient(0deg, rgba(26,26,26,1) 0%, rgba(18,18,18,1) 65%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 82px;
    padding-top: 180px;
    padding-bottom: 10px;
    overflow: hidden;
}


/* 로고 */

.logo{
    width: 550px;
    height: 400px;
    position: relative;
    z-index: 10;
}
.twt{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 145px;
    right: 5px;
    z-index: 10;
}
/* 메인메뉴 */

nav.menu{
    position: fixed;
    bottom: 120px;
    font-family: 'DungGeunMo';
    z-index: 10;
}

ul.main_menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    text-align: center;
    font-size: 35px;
}

a.main_menu_a{
    text-decoration: none;
    color: white;
}
a.main_menu_a:hover{
    text-decoration: none;
    color: white;

    animation-name: main_btn;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}
@keyframes main_btn {
    0%{
        color: #121212;
    }
    50%{
        color: white;
    }
    100%{
        color: #121212;
    }
}
a.main_menu_a:hover::before{
    content:"▶ ";
    color: white;
    font-size: 25px;
}
/* a.main_menu_a:hover::after{
    content:" ◀";
    color: white;
    font-size: 25px;
} */


@media (max-width: 700px){
    .logo{
        width: 400px;
        height: 300px;
        /* object-fit: cover; */
    }
    .twt{
        top: 100px;
    }
    .menu{
        padding-top: 30px;
        margin-bottom: 61px;
    }
}


/* 꼬리말 */

.footer{
    font-family: 'Orbit-Regular';
    color: white;
    opacity: 0.5;
    font-size: 11px;
    position: fixed;
    bottom: 7px;
}

/* 배경꾸미기 */
.main_2{
    width: 1440px;
    height: 1050px;
    position: fixed;
}
.alien{
    width: 60px;
    height: 60px;
}
.alien_1{
    left: 90px;
    bottom: 350px;
    position: absolute;
}

.vol_alien{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 300px;
    bottom: 250px;

    animation-name: vol_alien;
    animation-iteration-count: infinite;
    animation-duration: 0.4s;
    animation-direction: alternate;
    animation-timing-function:cubic-bezier(0.075, 0.82, 0.165, 0.95)

}
@keyframes vol_alien {
    0%{
        bottom: 250px;
    }
    100%{
        bottom: 300px;
    }
}
.vol_alien:hover{
    animation-play-state: paused;
}

.volume{
    position: absolute;
    top: -30px;
    z-index: 10;
    background-color:transparent;
    border: 0;
    cursor: pointer;
}
.volume_x{
    scale: 0;
}
.volume_o:focus{
    scale: 0;
}
.volume_o:focus+.volume_x{
    scale: 1;
}


.caution{
    position: absolute;
}
.caution_1{
    width: 100px;
    opacity: 0.7;
    top: 200px;
    right: 230px;

    animation-name: caution_1;
    animation-iteration-count: infinite;
    animation-duration: 0.8s;
}
@keyframes caution_1 {
    0%{
        scale: 1;
    }
    30%{
        scale: 0.8;
    }
    50%{
        opacity: 0.5;
    }
    90%{
        scale: 1.1;
    }
    100%{
        scale: 1;
    }
}

.caution_2{
    width: 60px;
    opacity: 0.5;
    top: 170px;
    right: 190px;

    animation-name: caution_2;
    animation-iteration-count: infinite;
    animation-duration: 0.6s;
}

@keyframes caution_2 {
    0%{
        scale: 1;
    }
    30%{
        scale: 1.1;
    }
    50%{
        opacity: 0.7;
    }
    90%{
        scale: 0.9;
    }
    100%{
        scale: 1;
    }
}

.caution_3{
    width: 50px;
    opacity: 0.8;
    top: 190px;
    right: 320px;

    animation-name: caution_3;
    animation-iteration-count: infinite;
    animation-duration: 0.7s;
}

@keyframes caution_3 {
    0%{
        scale: 1;
    }
    30%{
        scale: 0.8;
    }
    50%{
        opacity: 0.6;
    }
    90%{
        scale: 1.1;
    }
    100%{
        scale: 1;
    }
}