@font-face {
    font-family: 'neodunggeumo';
    src:url(../font/NeoDunggeunmoPro-Regular.woff) format('woff'),
}
@font-face {
    font-family: 'Orbit-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/Orbit-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  /* background: #eee; */
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

body {
  /* background: #fff; */
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  /* width: 450px; */
  width: 510px;
  height: 680px;
}
@media (max-width: 700px){
  .swiper {
      width: 450px;
      height: 620px;
    }
    .swiper_name{
      font-family: 'neodunggeumo';
      font-size: 2rem;
      margin-bottom: 5px;
      letter-spacing: 10px;
  }
  .swiper_img{
      width: 400px;
      height: 600px;
      border-radius: 5px;
      overflow: hidden;
      position: relative;
  }
}


.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  z-index: -10;
}

.swiper-slide:nth-child(1n) {
  background-color: #121212;
}

.swiper-slide:nth-child(2n) {
  background-color: #474747;
}

.swiper-slide:nth-child(3n) {
  background-color: #121212;
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}