@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Orbit-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/Orbit-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 100%;
    max-width: 1440px;
    min-width: 1440px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

/* content */

.news{
    width: 1250px;
    height: 680px;
    background-color: #F0F0F0;
    box-shadow: 0 0 2px #121212c7;
    margin-top: 5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    animation-name: news;
    animation-duration: 0.6s;
    transform: all 0.5s ease;
    animation-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1)
}

@keyframes news {
    0%{
        position: fixed;
        bottom: -1000px;
    }
    100%{
        position: fixed;
        bottom: 0;
    }
}

.news_name{
    font-family: 'DungGeunMo';
    font-size: 100px;
    color: #464646;
    background-color: #d8d8d8;
    width: 1250px;
    height: 130px;
    display: flex;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
}

.content{
    width: 1000px;
    height: 300px;
    gap: 2rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Orbit-Regular';
    margin-top: 3.5rem;
    margin-bottom: 162px;

    position: relative;
}

.content_box{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    flex-basis: 25%;
    overflow: hidden;
}

.content_a{
    text-decoration: none;
    color: #121212;
}

.content_img{
    width: calc(900px/4);
    height: calc(900px/4);
    border: #464646;
    background-color: white;
    overflow: hidden;
    margin-bottom: 10px;
}

.content_sub_name{
    background-color: #464646;
    border-radius: 15px;
    padding: 1px 5px 3px;
    color: white;
    font-size: 0.75rem;
}

.content_name{
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: -1px;
    color: #464646;
    text-overflow: ellipsis;
    white-space: nowrap
}

.content_day{
    font-size: 0.8rem;
    color:#464646;
}

.l_r_but{
    display: flex;
    gap: 1.5rem;
    margin: 2rem;
    position: absolute;
    bottom: -120px;
}

.left_btn, .right_btn{
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50px;
    background-color:  #464646;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    font-family: 'DungGeunMo';
}

.left_btn:hover, .right_btn:hover{
    background-color: white;
    color:#464646;
}

/* @media (max-width: 800px){
    .news{
        width: 750px;
    }
    .content{
        display: flex;
    }
    .content_box{
        flex-basis: 50%;
    }
} */


