@import url(default.css);
@font-face {
    font-family: 'DOSGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DOSPilgiMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/DOSPilgiMedium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'DOSGothic';
    width: 100vw;height: 100vh;
    color: #333;
    background-color: #666;
}

main{
    transition: all ease 0.4s;
    width: 600px;
    height: 400px;
    box-shadow: 0 0 5px 1px #333;
    border-radius: 7px;
    position: relative;
    overflow: hidden;
    padding: 42px 0 0 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    
}
h1{
    position: absolute; top: 0; left: 0;
    width: 100%;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    z-index: 5;
}
h1 .close{
    font-size: 19px;
    background-color: #7a4848;
    padding: 3px 8px;
    border-radius: 2px;
    cursor: pointer;
    position: absolute;
    top: 6px;
    right: 15px;
}
h1 .close:hover{
    background-color: #555;
}

h1 .help_o{
    font-size: 13px;
    position: absolute; top: 15px; left: 150px;
    opacity: .8;
}

ul{
    width: 600px;
    height: 370px;
    overflow-y: scroll;
    display: block;
    padding: 10px 0;
    background-color: #555;
}
li{
    width: 560px;
    height: 80px;
    background-color: #fff;
    box-shadow: 0 0 5px 2px #333;
    margin: 0 20px 15px;
    padding: 10px 15px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    display: block;
}
li h2.name{
    font-size: 30px;
    display: flex;
    align-items: center;
}
li h2 span{
    font-family: 'DOSPilgiMedium';
    font-size: 12px;
    margin-left: 10px;
    padding: 1px 2px;
    border-radius: 1px;
    box-shadow: 0 0 2px #555;
    color: #444; 
}

.figma{
    position: absolute;
    top: 10px;
    right: 60px;
    font-size: 16px;
    padding: 1px 2px 1px 3px;
    border-radius: 3px;
    color: #999;
    border: #999 solid 1px;
}
.figma:hover{
    color: #fff;
    background-color: #999;
}

li .box{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
    padding: 0 5px;
}
.tag{
    padding: 2px 3px 2px 4px;
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
}
.day{color: #333; font-weight: bold; box-shadow: 0 0 2px #333; padding: 1px 3px;}
.self{background-color: #7a4848;}
.renewal{background-color: #586681;}
.media{background-color: #5a7979;}
.page{background-color: #5d664e;}
.commission{background-color: rgb(168, 141, 18);}

li .link{
    width: 50px; height: 100%;
    position: absolute; top: 0; right: 0px;
    font-size: 25px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}
li .link a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
li .link:hover{
    background-color:#702a2a;
}
.folder{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    font-size: 70px;
    color: #fff;
    display: none;
}
.open{
    cursor: pointer;
    transition: all ease 0.5s;
}
.open:hover{
    scale: 1.2;
}

.p{
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.profile{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    scale: 0.9;
    opacity: .8;
}
.inner{scale: 1.1; color:#fff;opacity: 1;
      border: 1px dashed #ffffff85; padding: 10px 25px;}}
.profile h3{font-weight: bold;}
.profile p{font-size: 16px;}
.profile span{font-size: 13px;}
.profile {
    display: inline-flex;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='80' height='80'><polygon points='40 0,0 40,40 80,80 40' style='fill:black;fill-rule:nonzero;'></polygon></svg>");
    margin: 20px;
    width: 250px;
    height: 100px;
    padding: 20px;
    background-size: 20px 20px;
    background-repeat: round round;
    position: relative;
}
.profile::after{
    content: "";
    position: absolute;
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    background: black;
    z-index: -1;
}

.help_o{
    border: none;
}
.help{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
.help img{
    border-radius: 7px;
}
.help .help_c{
    position: absolute;
    bottom: 15px;
    right: 15px;
    padding: 2px 5px 0 6px;
    font-size: 15px;
    color: #fff;
    border: #ffffff75 solid 1px;
}
  

::selection{
    background-color: #333;
    color: #fff;
}
.sample{display: none;}
