@charset "utf-8";
@import url(default.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR');

body{font-family: "Noto Sans KR", sans-serif;}

/*작은 navi*/
.navi{
    width: 100%;
    height: 45px;
    background-color: #E9F3F9;
}
.navi .navi_{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navi .navi_ ul{
    display: flex;
}
.navi img{
    height: 20px;
}

/*작은 navi 왼쪽*/
.navi_l li a{
    height: 45px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-right: solid 1px #d8d8d8;
}
.navi_l li a:hover{
    background-color: #d4e9f7;
}
.navi_l li:nth-child(1){
    background-color: #d4e9f7;
}
/*작은 navi 오른쪽*/
.navi_r{
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.navi_r .icon{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
}
.sns{gap: 7px;}
.blog{background-color: #32B44A;
    padding-left: 2px;}
.insta{
    background: linear-gradient(221deg, rgba(100,87,166,1) 0%, rgba(238,48,117,1) 32%, rgba(238,83,63,1) 63%, rgba(241,182,74,1) 100%);
    color: #fff;
    font-size: 1.3rem;
}
.face{background-color: #3B5998;}
.youtube{background-color: #E2181A;
        padding-left: 2px;}
.twt{background-color: #2AA9E0;
    padding-left: 2px;}

.rang{
    width: 120px;
    height: 45px;
    background-color: #d4e9f7;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}
.rang_click{
    font-weight: bold;
}
/*진짜 nav*/
nav{
    width: 100%;
    height: 60px;
    background: linear-gradient(90deg, rgba(98,193,255,1) 0%, rgba(0,117,193,1) 10%, rgba(0,117,193,1) 90%, rgba(98,193,255,1) 100%);
    /* background-color: #0075c1; */
    position: relative;
}
nav ul{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    color: #fff;
    font-size: 17px;
}
nav ul li{
    flex-basis: calc(100%/7);
}
nav ul li a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul li a:hover{
    font-weight: 600;
}
.bg{
    width: 100%;
    height: 300px;
    background-color: #fff;
    border-bottom: 3px solid #0075c1;
    position: absolute;
    top: 60px;
    display: none;
    z-index: 5;
}
/*메인화면*/
.top_contents{
    width: 1200px;
    margin: 0 auto;
}
.t_con_1{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.logo{
    color: #0075C1;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    line-height:22px;
}
.logo p{
    font-size: 18px;
    font-weight: 400;
}
.such{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.such_box input{
    width: 270px;
    display: block;
    padding: 4px 5px;
    border: 3px solid #1042B6;
}
.such_but{
    padding: 3px 10px;
    background-color: #1042B6;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
}
.sr{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}
.sr span{
    color: #fff;
    background-color: #0075c1;
    padding: 1px 3px;
    margin-right: 3px;
}
.s_r{
    width: 100px;
    height: 18px;
    position: relative;
    overflow: hidden;
    margin-left: 10px;
    font-size: 15px;
}
.such_ranking{
    width: 100%;
    height: 1000%;
    position: absolute;
    top: 0;
}
.such_ranking a{
    font-weight: bold;
}
.such_ran{
    width:100%;
    height:  calc(100%/10);
    display: flex;
    align-items: center;
    justify-content: left;
}


.t_con_2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.tc_2_1{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.slide{
    width: 950px;
    height: 400px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}
.slide ul{
    width: 500%;
    height: 100%;
    display: flex;
    position: absolute;
}
.slide ul li{
    width: calc(100%/5);
    height: 100%;
}
.slide ul li a{
    width: 100%;
    height: 100%;
    display: block;
}
.s1{background-color:cadetblue ;}
.s2{background-color:cornflowerblue ;}
.s3{background-color:darkseagreen ;}
.s4{background-color:darkturquoise ;}
.s5{background-color:lightblue ;}

.s_menu{
    position: absolute;
    bottom: 0;
    background-color:#1042B6;
    color: #fff;
    width: 100%;
    height: 50px;
    z-index: 10;
}

.tc_2_1_1{
    display: flex;
    gap: 30px;
}
.tc_2_1_1 .mayor{
    width: 270px;
    height: 270px;
    background: linear-gradient(38deg, rgba(13,9,94,1) 0%, rgba(16,66,182,1) 50%, rgba(13,9,94,1) 100%);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.mayor a{
    width: 100%;
    height: 100%;
    display: block;
}
.mayor img{
    position: absolute;
    width: 200px;
    right: -40px;
    bottom: -10px;
}
.mayor p{
    color: #fff;
    font-size: 20px;
    letter-spacing: -1px;
    position: absolute;
    top: 20px;
    left: 20px;
    font-weight: 100;
}
.mayor span{
    font-weight: bold;
    font-size: 25px;
}
.mayor ul{
    color: #fff;
    position: absolute;
    top: 110px;
    left: 40px;
}
.mayor ul li{
    list-style:disc;
    font-size: 13px;
}
.mayor ul li a{
    padding: 2px 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
.mayor ul li a:hover{
    border-bottom: 1px solid #fff;
}
.tc_2_1_1 .tab{
    width: calc(100% - 240px);
    height: 100%;
    position: relative;
}
.tabmenu{
    display: flex;
    height: 40px;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}
.tabmenu li{
    flex-basis: calc(100%/6);
}
.tabmenu li.on{
    color: #0075C1;
    font-weight: bold;
}
.tabmenu li a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tabcon{
    position: absolute;
    width: 100%;
    height: calc(100% - 40px);
    padding: 10px 20px;
    border-bottom: 1px solid #d8d8d8;
}
.notice_2, .notice_3, .notice_4, .notice_5, .notice_6{
    display: none;
}
.tabcon ul li p{
    width: 550px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tabcon ul li a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
.tabcon ul li a:hover{
    border-bottom: 1px solid #d8d8d8;;
}
.tabcon ul li span{
    font-size: 14px;
    color: #888;
}

.tc_2_2{
    width: 290px;
    height: 700px;
    border-radius: 10px;
    background-color: #0075c1;
}
